Makefile
bin/
*.swp
*.sln
*.suo
*.sdf
ipch/
*.so
*.so.*
*.a
src/glsdk/freeglut/lib/
src/glsdk/freeglut/obj/
src/glsdk/freeglut/CMakeFiles/
src/glsdk/glload/lib/
src/glsdk/glload/obj/
*CMakeCache.txt
*cmake_install.cmake
*.vcxproj*
*.dir/
src/glsdk/freeglut/Win32/
src/glsdk/freeglut/*.def
src/glsdk/freeglut/*.rc
*config.h
*.pc
src/glsdk/*/library/
src/glsdk/*/lib/
src/glsdk/*/Debug/
src/glsdk/*/Release/
src/glsdk/freeglut/progs/
src/glsdk/freeglut/*.log
src/glsdk/freeglut/*.status
src/glsdk/*/obj/
src/glsdk/freeglut/src/*.deps
src/glsdk/freeglut/*stamp-h1
src/glsdk/freeglut/libtool
